.ki-article {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  color: #666;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.ki-article h1 {
  font-size: 2.23125rem;
  line-height: 1.2;
}
.ki-article h2 {
  font-size: 1.7rem;
  line-height: 1.3;
}
.ki-article h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}
.ki-article h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}
.ki-article h5 {
  font-size: 16px;
  line-height: 1.4;
}
.ki-article h6 {
  font-size: 0.875rem;
  line-height: 1.4;
}
.ki-article p {
  margin-top: 20px;
}
.ki-article .ki-article-title {
  margin: 0 0 20px 0;
  font-size: 38px;
  font-weight: 300;
  color: #222;
  text-transform: none;
}
.ki-article .ki-article-meta {
  font-size: 14px;
  line-height: 1.4;
  color: #999;
}
.ki-article .ki-article-meta a {
  color: #999;
}
.ki-article .ki-text-lead {
  font-size: 24px;
  line-height: 1.5;
  color: #222;
  font-weight: 300;
}
