ki-web {
    >article {
        box-sizing: border-box;
        padding-top: 50px;
        // height: 100%;
        // overflow-y: auto;

        &:after {
            display: block;
            height: 50px;
            content: "";
        }
    }
}

.dataNav {
    display: none;
}